body {
  background-color: #2a5470;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  position: relative;
  margin: auto;
}

.back{
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

a{
  outline: none;
  text-decoration: none;
  color: aliceblue;
}

h1{
  color: white;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
}

input{
  padding: 16px 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  border: 1px solid #fff;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  width: 100%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.input{
  display: flex;
  justify-content: center;
  align-content: center;
}

.result{
  display: flex;
  justify-content: center;
  align-content: center;
}

.clear-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #345f7c;
  width: 50%;
  text-align: center;
  border: 1px solid rgb(78, 75, 75);
  border-radius: 5px;
  color: rgb(169, 170, 172); 
  padding: 5px;
}